.example-card {
  max-width: 400px;
}

.example-header-image {
  /* background-image: url("../../../../assets/images/letra-n.jpg"); */
  background-image: url();
  background-size: cover;
}

.row{
  margin-bottom: 30px;
}

mat-card {
  margin-top: 20px;
  margin-right: 20px;
}
