.fa-shopping-cart {
    font-size: 15px;
    color: white;
    margin-right: 0;
  
  }
  
  .item {
    color: #fff;
    float: right;
    margin-right: 18px;
    cursor: pointer;
  }
  
  ::ng-deep .tooltip-class-size {
    font-size: large;
  }
  
  .cart-basket {
    font-size: 15px;
    float: right;
    margin-right: 15px;
    cursor: pointer;
    color: #fff;
    width: 20px;
    height: 20px;
    background-color: #418deb;
    border-radius: 50%;
  }
  