<header>
<app-navbar></app-navbar>

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://picsum.photos/700/400?random" class="d-block w-100" alt="..." style="height: 500px; object-fit: cover;">
        </div>
      </div> 
    </div>
  </header>
  <div class="container">
    <div class="icons">
      <div class="science">
        <i class="fas fa-microscope"></i>
        <p class="text-icon">Estamos trabajando para poder brindarte nuevos productos</p>
      </div>
      <div>
        <div class="calendar">
          <i class="fas fa-calendar-alt "></i>
          <p class="text-icon">Eventos</p>
        </div>
      </div>
    </div>
  </div>
  <main class="container">
  
    <div class="section-grey">
      <p id="parrafo1">1.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quia dolores aspernatur,
        eligendi voluptatum odit sed consequatur nostrum porro ut ab nulla repudiandae quaerat perspiciatis aliquid
        aperiam quis nisi fuga.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quia dolores
        aspernatur,
        eligendi voluptatum odit sed consequatur nostrum porro ut ab nulla repudiandae quaerat perspiciatis aliquid
        aperiam quis nisi fuga. 2.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quia dolores aspernatur,
        eligendi voluptatum odit sed consequatur nostrum porro ut ab nulla repudiandae quaerat perspiciatis aliquid
        aperiam quis nisi fuga
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quia dolores aspernatur,
        eligendi voluptatum odit sed consequatur nostrum porro ut ab nulla repudiandae quaerat perspiciatis aliquid
        aperiam quis nisi fuga.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quia dolores aspernatur,
        eligendi voluptatum odit sed consequatur nostrum porro ut ab nulla repudiandae quaerat perspiciatis aliquid
        aperiam quis nisi fuga.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quia dolores aspernatur,
        eligendi voluptatum odit sed consequatur nostrum porro ut ab nulla repudiandae quaerat perspiciatis aliquid
        aperiam quis nisi fuga.</p>   
    </div>
  </main>
  <app-footer></app-footer>
