<div class="container">
    <div class="formulario">
        <form [formGroup]="userForm" #formDirective="ngForm" >
            <h1 class="title">Login</h1>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input formControlName="name" [(ngModel)]="inputName" type="text" matInput placeholder="Nombre">
                    <mat-error *ngIf="userForm.get('name')?.hasError('required')">Este campo es obligatorio
                    </mat-error>

                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input formControlName="password" [(ngModel)]="inputPassword" type="password" matInput
                        placeholder="Contraseña">
                    <mat-error *ngIf="userForm.get('password')?.hasError('required')">Este campo es obligatorio
                    </mat-error>

                </mat-form-field>
            </p>
  
         
        </form>
        <button class="button-reserva" [disabled]="userForm.invalid"  routerLink="/home" mat-raised-button>Ingresar</button>
            <button class="button-reserva" routerLink="/registro" mat-raised-button>Registrarse</button>
    </div>

</div>