<div class="background" >
    <div class="background-img"></div>
    <div class="container space" fxLayout.xs="colum" fxLayout.sm="colum" fxLayout.xs="colum" fxLayout.md="colum">
      <div fxLayout="row wrap" class="footer-row" fxLayoutAlign="space-evenly start">
        <div >
          <h4 class="text_legal">
            <strong> Legal </strong>
          </h4>
          <p class="text_politicas">
            <a href="https://madridturismo.info/politica-privacidad/">Política de privacidad</a>
            <br>
            <a href="https://madridturismo.info/politica-de-cookies/">Política de cookies</a>
            <br>
            <a href="https://madridturismo.info/terminos-y-condiciones-de-uso/">Términos y condiciones de uso
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>