<app-navbar></app-navbar>

<div class="container container-contacto">
    <form class="form-floating espacio-entre-div" >
        <input type="email" class="form-control is-invalid" id="floatingInputInvalid" placeholder="name@example.com" value="test@example.com">
        <label for="floatingInputInvalid">Invalid input</label>
      </form>
      <div class="form-floating espacio-entre-div">
        <textarea class="form-control comentario" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 300px"></textarea>
        <label for="floatingTextarea2">Comentario</label>
      </div>     
      <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-primary" type="button">Enviar</button>
        
      </div>
</div>


<app-footer></app-footer>