.footer-body{
position: relative;
 min-height: 20vh; 
}
.footer {
    width: 100%;
    height: 100px;
    background: crimson;
    color: white;
    text-align: center;
    margin-top: auto;
    position: absolute;
    bottom: 0;

   
  
  }
  .politic-private {
    color: white;
  }
  .text-footer {
    padding-top: 33px;
  }