<app-navbar></app-navbar>



<div class="container container-card">

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/images/ajedrez.jpg" class="card-img-top"  alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ajedrez</h5>
                    <p class="card-text">Traba estrategias y lógicas con nuestro fabuloso tablero de ajedrez.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/images/cubo-rubic(1).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cubo rubik 2x2</h5>
                    <p class="card-text">No te pierdas de éste desafío.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/images/cubo-rubik.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cubo rubik 3x3</h5>
                    <p class="card-text">El mejor del mercado.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/images/dungeons-dragons.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dungeons && Dragons</h5>
                    <p class="card-text">No te pierdas la oportunidad de adentrarte a este fabuloso mundo.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/images/jumanji.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jumanji</h5>
                    <p class="card-text">Te animas a a los desafios del misterioso mundo de Jumanji.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/images/lego.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lego City</h5>
                    <p class="card-text">Divertite construyendo tu propia ciudad!!.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/images/star-wars.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lego Star Wars</h5>
                    <p class="card-text">Divertite construyendo tu propio mundo de Star Wars!!.</p>
                </div>
            </div>
        </div>
    </div>


</div>




<app-footer></app-footer>